* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #eafcf2; /*Cambio de color del fondo*/
  font-family: Arial, Helvetica, sans-serif; /*Cambiamos fuente de toda la pagina */
}

#container {
  /*Le damos un ancho*/
  /*width: 70%;*/
  width: 1100px; /*Le damos un tamaño al contenedor*/
  margin: 0px auto; /*Le asignamos un margen al gontenedor de la pagia web*/
  border: 1px soli whitesmoke; /*Le asignamos un borde al contenedor de la pagina web*/
}

header {
  height: 100px; /*Establecemos la altura del elemento en la pagina web*/
  width: 100%; /*Asignamos un tamaño a la cabecera de la pagina web*/
  margin: 0px; /*Le asignamos margenes a la cabecera de la pagina web*/

  text-align: center; /*Hacemos que el texto de la cabecera se encuentre centrado*/
  line-height: 100px; /*Asignamos la altura de linea*/
  color: black; /*Le damos a la letra un color blanco*/
  background: white; /*cambiamos el color del fondo de la cabecera*/
}
/**Barra de navegacion*/

nav {
  background: #2471a3; /*Le asignamos un color a la barra de navegacion*/
  margin-top: 20px;
  color: white; /*El texto que se encuentre en la nav sea de color blanco*/
  height: 60px; /*Establecemos una altura al elemento*/
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
nav ul li {
  display: inline-block;
}
nav a {
  display: block;
  padding: 0 10px;
  color: white;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}
nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
  background-color: lightblue;
}
nav ul li:hover > ul {
  display: inherit;
}
nav ul ul li {
  width: 100%;
  float: none;
  position: relative;
}
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

.clearfix {
  clear: both; /*Cuando floten los elementos mantengan su sitio*/
}

/*Para el contenido*/
#content {
  float: left;
  text-align: center;
  width: calc(80% - 80px);
  min-height: 500px; /*le daremos una altura minima a este elemento*/
  background: whitesmoke;
  padding: 40px;
}

#content article h1 {
  text-align: left;
  color: black;
}
#content article p {
  margin-top: 10px;
  text-align: justify;
  color: black;
}
/*Imagenes en css*/
.slider {
  width: 100%;
  height: 250px;
  position: relative;
  padding-top: 50px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide:nth-child(1) {
  background-image: url('imagen1.jpg');
  animation: slide 12s infinite;
}

.slide:nth-child(2) {
  background-image: url('imagen2.jpg');
  animation: slide 12s infinite;
  animation-delay: 3s;
}

.slide:nth-child(3) {
  background-image: url('imagen3.jpg');
  animation: slide 12s infinite;
  animation-delay: 6s;
}

.slide:nth-child(4) {
  background-image: url('imagen4.jpg');
  animation: slide 12s infinite;
  animation-delay: 9s;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*Formato de Imagenes*/
#cont1 {
  border-radius: 15px;
  border: 1px solid black;
}
